ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
}

li a {
  width: 20rem;
  padding: 15px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

li a img {
  height: 15rem;
  width: 95%;
  padding: 15px;
}

.banner {
  background-image: url("../../../../assets/img/banner.jpg");
  height: 600px;
  background-position: center top;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: color;
}
.content {
  top: 30%;
  left: 20%;
  position: absolute;
}
.text {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 0.8px rgb(55, 51, 51);
}
.content h1 {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.box {
  background-color: rgb(156, 134, 134);
  padding: 20px 20px;
  border-radius: 5px;
  text-align: center;
}
.box h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(62, 43, 43);
}
.box p {
  font-size: 20px;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 0.8px rgb(144, 131, 131);
}
.sub {
  color: #ac4a00;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 15px;
}

.view {
  text-decoration: none;
  background-color:  rgb(156, 134, 134);
  color: #fff;
  text-shadow: 2px 0.8px rgb(144, 131, 131);
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 18px;
}
.view:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .banner {
    height: 700px;
  }
}
