.header {
  position: absolute;
  top: 0;
  left: 0;

  padding: 1rem 1%;
  background: rgb(21, 21, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 98%;
}

.logo {
  font-size: 2.5rem;
  color: rgb(247, 59, 59);
  font-weight: 600;

  cursor: pointer;
}
.navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0.1em;
  transition: 0.3s;
  padding: 0.5em;
}
.navbar a:hover,
.navbar a:active {
  color: rgb(247, 59, 59);
}
