.container {
  padding: 30px;
}

.productbox {
  padding: 10px;
  border: 1px solid rgb(217, 210, 210);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.productbox img {
  width: 95%;
  height: 230px;
  border-radius: 5px;
  padding: 20px;
}
.productbox h1 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.buybtn {
  margin-top: 2px;
  color: #000;
  background-color:  rgb(156, 134, 134);
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.buybtn:hover {
  opacity: 0.9;
}
