header {
  //background-color: rgb(234, 48, 57);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

li {
  list-style: none;
  cursor: pointer;
  height: 25px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-left: 5rem;
  padding: 1rem;
}
