header {
  position: relative;
  background: #baafc4;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
  font-size: 17px;
}

a:hover {
  color: #000;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

a.logo {
  font-weight: bold;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}

.active-link {
  font-weight: bold;
}

div {
  display: flex;
  justify-content: center;

  padding: 1rem;
}

input {
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 3rem;
  width: 45rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

div button {
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: rgb(62, 43, 43);
  color: white;
  opacity: 0.8;
  outline: none;
}

div button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  input{
    width: 15rem;

  }
  nav {
    height: 50px;

  }

  li{
   margin-left: 5rem;


  }
}
