<div class="container">
  <h1 class="title">Lorem Ipsum</h1>
  <p class="paragraphy1">
    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
    consectetur, adipisci velit..."
  </p>
  <p class="paragraphy">
    "There is no one who loves pain itself, who seeks after it and wants to have
    it, simply because it is pain..."
  </p>
  <div>
    <div class="text">
      <h3>What is Lorem Ipsum?</h3>
      <p>
        <span>Lorem Ipsum</span> is a long established fact that a reader will
        be distracted by the readable content of a page when looking at its
        layout. The point of using Lorem Ipsum is that it has a more-or-less
        normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English.
      </p>
    </div>

    <div class="text">
      <h3>Why do we use it?</h3>
      <p>
        Lorem Ipsum is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout. The point
        of using Lorem Ipsum is that it has a more-or-less normal distribution
        of letters, as opposed to using 'Content here, content here', making it
        look like readable English.
      </p>
    </div>

    <div class="text">
      <h3>Where does it come from?</h3>
      <p>
        Lorem Ipsum is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout. The point
        of using Lorem Ipsum is that it has a more-or-less normal distribution
        of letters, as opposed to using 'Content here, content here', making it
        look like readable English.
      </p>
    </div>

    <div class="text">
      <h3>Where can I get some?</h3>
      <p>
        Lorem Ipsum is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout. The point
        of using Lorem Ipsum is that it has a more-or-less normal distribution
        of letters, as opposed to using 'Content here, content here', making it
        look like readable English.
      </p>
    </div>
  </div>
</div>
