.heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}

.search {
  padding-left: 50px;

  input {
    height: 20px;
    width: 330px;
    font-size: 14px;
  }
}

.produto h2 {
  margin-bottom: 2rem;
}
.produto-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  gap: 2.5rem;
  margin: 3rem;
  margin-bottom: 70px;
}

.produto-container .produto-box {
  position: relative;
  flex-direction: column;
  border: 2rem;
  box-shadow: 0 0 1rem rgb(183, 199, 242);
  display: grid;
}

h3 {
  font-size: 1rem;
  margin-top: -50px;
}

.card-produto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  margin: 20px;
  padding-right: 20px;
}

.item-produto {
  border: 2rem;
  box-shadow: 0 0 1rem rgb(183, 199, 242);
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
}

.item-produto button {
  box-shadow: 0 0 1rem rgb(37, 40, 46);
  width: 300px;
  height: 30px;
  margin: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0.1rem solid rgb(110, 106, 106);

  border-radius: 4rem;
  color: #141313;
}

.em-estoque {
  color: green;
}

.falta-estoque {
  color: red;
}
