<section class="search">
  <h2 class="heading">
    <i>{{ titulo }}</i>
  </h2>
  <h3>Busca de Produtos Por Nome</h3>
  <input
    type="text"
    placeholder="Digite o nome do produto"
    (input)="pressinouTecla($event)"
  />

  <div *ngFor="let produto of produtos" class="produto-container">
    <div class="produto-box">
      <div>
        <img src="{{ produto.imagem }}" width="250px" height="250px" alt="" />
        <p (click)="clicouTag()">
          <strong>Descrição do produto:</strong>
          {{ produto.descricao }}
        </p>
        <p>
          <strong>Preço:</strong>
          {{ produto.preco }}
        </p>
        <p>
          <strong>Quantidade:</strong>
          {{ produto.quantidade }}
        </p>
        <p>
          <strong>Preço com Desconto:</strong>
          {{ precoComDesconto(produto.preco) }}
        </p>
        <p
          [ngClass]="{
            'em-estoque': produto.disponivel,
            'falta-estoque': !produto.disponivel
          }"
        >
          {{ produto.disponivel ? "Em estoque" : "Produto em falta" }}
        </p>

        <button
          *ngIf="
            produto.disponivel ? exibeProdutosSimNao : !exibeProdutosSimNao
          "
          (click)="obterPrecoDesconto()"
        >
          Obter Desconto de 10%
        </button>

        <button
          *ngIf="
            produto.disponivel ? exibeProdutosSimNao : !exibeProdutosSimNao
          "
          (click)="comprar()"
        >
          Comprar
        </button>
        <hr />
        <button (click)="exibeProdutosSimNao()">Exibe Produto</button>
      </div>
    </div>

    <div class="produto-box">
      <div>
        <img src="{{ produto.imagem }}" width="250px" height="250px" alt="" />
        <p (click)="clicouTag()">
          <strong>Descrição do produto:</strong>
          {{ produto.descricao }}
        </p>
        <p>
          <strong>Preço:</strong>
          {{ produto.preco }}
        </p>
        <p>
          <strong>Quantidade:</strong>
          {{ produto.quantidade }}
        </p>
        <p>
          <strong>Preço com Desconto:</strong>
          {{ precoComDesconto(produto.preco) }}
        </p>

        <p
          [ngClass]="{
            'em-estoque': produto.disponivel,
            'falta-estoque': !produto.disponivel
          }"
        >
          {{ produto.disponivel ? "Em estoque" : "Produto em falta" }}
        </p>

        <button
          *ngIf="
            produto.disponivel ? exibeProdutosSimNao : !exibeProdutosSimNao
          "
          (click)="obterPrecoDesconto()"
        >
          Obter Desconto de 10%
        </button>

        <button
          *ngIf="
            produto.disponivel ? exibeProdutosSimNao : !exibeProdutosSimNao
          "
          (click)="comprar()"
        >
          Comprar
        </button>
        <hr />
        <button (click)="exibeProdutosSimNao()">Exibe Produto</button>
      </div>
    </div>

    <div class="produto-box">
      <div>
        <img src="{{ produto.imagem }}" width="230px" height="230px" alt="" />
        <p (click)="clicouTag()">
          <strong>Descrição do produto:</strong>
          {{ produto.descricao }}
        </p>
        <p>
          <strong>Preço:</strong>
          {{ produto.preco }}
        </p>
        <p>
          <strong>Quantidade:</strong>
          {{ produto.quantidade }}
        </p>
        <p>
          <strong>Preço com Desconto:</strong>
          {{ precoComDesconto(produto.preco) }}
        </p>

        <p
          [ngClass]="{
            'em-estoque': produto.disponivel,
            'falta-estoque': !produto.disponivel
          }"
        >
          {{ produto.disponivel ? "Em estoque" : "Produto em falta" }}
        </p>

        <button
          *ngIf="
            produto.disponivel ? exibeProdutosSimNao : !exibeProdutosSimNao
          "
          (click)="obterPrecoDesconto()"
        >
          Obter Desconto de 10%
        </button>

        <button
          *ngIf="
            produto.disponivel ? exibeProdutosSimNao : !exibeProdutosSimNao
          "
          (click)="comprar()"
        >
          Comprar
        </button>
        <hr />
        <button (click)="exibeProdutosSimNao()">Exibe Produto</button>
      </div>
    </div>
  </div>
</section>
