<section class="search">
  <h2 class="heading">
    <i>{{ titulo }}</i>
  </h2>
  <h3>Busca de Produtos Por Nome</h3>
  <input
    type="text"
    placeholder="Digite o nome do produto"
    (input)="pressinouTecla($event)"
  />

  <div class="card-produto">
    <div class="item-produto" *ngFor="let produto of produtos">
      <img src="{{ produto.imagem }}" width="300px" height="300px" />
      <p>{{ produto.descricao }}</p>
      <p>Preço: {{ produto.preco }}</p>
      <p>Quantidade: {{ produto.quantidade }}</p>
      <p>Preço com Desconto: {{ precoComDesconto(produto.preco) }}</p>
      <p
        [ngClass]="{
          'em-estoque': produto.disponivel,
          'falta-estoque': !produto.disponivel
        }"
      >
        {{ produto.disponivel ? "Em estoque" : "Produto em falta" }}
      </p>

      <button
        *ngIf="produto.disponivel ? exibeProduto : !exibeProduto"
        (click)="obterDesconto()"
      >
        Obter desconto
      </button>
      <button
        *ngIf="produto.disponivel ? exibeProduto : !exibeProduto"
        (click)="comprar()"
      >
        Comprar
      </button>
      <button (click)="exibeProdutoSimNao()">Exibe Produto</button>
    </div>
  </div>
</section>
