<section class="filme">
  <h2 class="heading">
    <i>{{ title }}</i>
  </h2>
  <div class="filme-container">
    <div class="filme-box">
      <div>
        <p>
          <strong>Id:</strong>
          {{ collaborators[0].id }}
        </p>
        <p>
          <strong>Nome:</strong>
          {{ collaborators[0].nome }}
        </p>
        <p>
          <strong>Cargo:</strong>
          {{ collaborators[0].cargo }}
        </p>
        <p>
          <strong>Salário:</strong>
          {{ collaborators[0].salario }}
        </p>

        <img
          src="{{ collaborators.imagem }}"
          width="250px"
          height="250px"
          alt=""
        />
      </div>
    </div>

    <div class="filme-box">
      <div>
        <p>
          <strong>Id:</strong>
          {{ collaborators[1].id }}
        </p>
        <p>
          <strong>Nome:</strong>
          {{ collaborators[1].nome }}
        </p>
        <p>
          <strong>Cargo:</strong>
          {{ collaborators[1].cargo }}
        </p>
        <p>
          <strong>Salário:</strong>
          {{ collaborators[1].salario }}
        </p>

        <img
          src="{{ collaborators.imagem }}"
          width="250px"
          height="250px"
          alt=""
        />
      </div>
    </div>

    <div class="filme-box">
      <div>
        <p>
          <strong>Id:</strong>
          {{ collaborators[2].id }}
        </p>
        <p>
          <strong>Nome:</strong>
          {{ collaborators[2].nome }}
        </p>
        <p>
          <strong>Cargo:</strong>
          {{ collaborators[2].cargo }}
        </p>
        <p>
          <strong>Salário:</strong>
          {{ collaborators[2].salario }}
        </p>

        <img
          src="{{ collaborators.imagem }}"
          width="250px"
          height="250px"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
