.footer p {
  padding-left: 2rem;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  //background: rgb(137, 168, 225);
}
.footer-text p {
  font-size: 1.1rem;
}
